body {
    background-color: #FFF5E4;
    color: #850E35;
    font-family: 'Poppins', sans-serif;
}

.login {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    height: 240px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 35px;
    letter-spacing: 0.5px;
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child{
    background: linear-gradient(
        #FFC4C4,
        #EE6983
    );
    left: -80px;
    top: 30px;
}

.shape:last-child{
    background: linear-gradient(
        to right,
        #EE6983,
        #850E35
    );
    right: -30px;
    bottom: 20px;
}

.login-form h3 {
    margin: 20px;
    font-size: 36px;
    font-weight: 700;

}

label {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.login-input {
    display: block;
    height: 28px;
    width: 330px;
    align-items: flex-end;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 6px;
    padding: 0 8px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
}

.login-button {
    display: flex;
    margin-top: 20px;
    background-color: white;
    color: #080710;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}